fastapi==0.110.0
uvicorn==0.27.1
groq==0.4.2
qdrant-client==1.8.0
python-dotenv==1.0.1
apify-client==1.6.0
python-multipart==0.0.9
pydantic==2.6.3
pydantic-settings==2.2.1
aiohttp==3.9.3
edge-tts==6.1.10
fal-client==0.4.2
openai
anthropic
replicate==1.0.4
httpx-sse
langchain
langchain-groq
langchain-huggingface
sentence-transformers
