fastapi
uvicorn
groq
qdrant-client
python-dotenv==1.1.1
apify-client
python-multipart
pydantic==2.11.9
pydantic-settings

aiohttp==3.9.3
edge-tts==6.1.10
fal-client==0.4.2
openai
anthropic
replicate==1.0.4
httpx-sse
httpx==0.28.1
langchain
langchain-groq
langchain-huggingface
sentence-transformers
