fastapi
uvicorn
groq
qdrant-client
python-dotenv
apify-client
python-multipart
pydantic
pydantic-settings

aiohttp==3.9.3
edge-tts==6.1.10
fal-client==0.4.2
openai
anthropic
replicate==1.0.4
httpx-sse
langchain
langchain-groq
langchain-huggingface
sentence-transformers
